.agenda-entry{'data-vaccination-id' => vaccination.id, 'data-date-format' => date_format}
  = render_vaccination_status(vaccination)
  = vaccination.full_description
  - if vaccination.status.taken?
    aplicada el 
    = link_to l(vaccination.date, format: date_format), '#', class: 'ux-datepicker' 
