.dropdown.vaccination-status.inline
  = link_to '#', class: "dropdown-toggle", 'data-toggle' => 'dropdown' do
    = vaccination_status_icon(vaccination.status)
  %ul.dropdown-menu{role: 'menu'}
    - Vaccination.status.options.each do |label, value|
      %li
        = vaccination_status_icon(value)
        = link_to label, '#', 'data-vaccination-status' => value