%p Hola #{@subscriber.full_name},

%p Te recordamos que corresponde la aplicación de la #{@dose.full_name} a #{@child.name}.

%p Para más información, visita nuestro sitio:

%p
  = link_to 'Inmuniversia', Settings.hosts.local