%h3
  Madres y Padres
Informate de manera clara y sencilla acerca de las enfermedades inmunoprevenibles, sus respectivas vacunas, el calendario de vacunación oficial y los lugares donde se aplican, como así también de sus posibles efectos adversos. Recibí recordatorios vía SMS, e-mail o llamados telefónicos con los vencimientos de cada vacuna y de las dosis subsiguientes.

%h3
  Pediatras
Suministrales a tus pacientes toda la información necesaria sobre las enfermedades inmunoprevenibles y confeccionales en minutos un calendario a medida que permitirá que reciban recordatorios via mensajes de texto, e-mail o llamados teléfonicos.
%h3
  Centros de Vacunación
Inmuniversia les permite a  los centros de vacunación recordarles a sus pacientes las fechas en las que deben recibir vacunas/dosis y, al mismo tiempo, mantener sus bases de datos actualizadas, facilitando así un seguimiento detallado de cada uno de los casos.
%br
%br