.steps
  .row-fluid
    .span4.active
      Teléfono
      %br
      móvil
    .span4{:class => step >= 2 ? "active" : ""} Confirmar teléfono
    .span4{:class => step >= 3 ? "active" : ""} Completar datos
  .row-fluid
    .span12
      .line
        .step.s1.active
        .step.s2{:class => step >= 2 ? "active" : ""}
        .step.s3{:class => step >= 3 ? "active" : ""}
        .inner{:class => "f#{step}"}