- content_for :topbar do
  %h1 Crear una cuenta

- content_for :body do
  .registration
    .row-fluid
      .span4
        .registration-steps
          = render "sms_steps", :step => 3
          %p Ingrese los siguientes datos para completar su cuenta en Inmuniversia
          = render "sign_up_form", resource: @subscriber, path: subscribers_update_sms_user_path

      .span8
        = render "links"
        = render "side_text"