- content_for :topbar do
  %h1 Crear una cuenta

- content_for :body do
  .registration
    .row-fluid
      .span4
        .registration-steps
          = render "sms_steps", :step => 1
          %p
            Bienvenido a la web de Inmuniversia
          %p
            Si ya usaste Inmuniversia via SMS, desde la web vas a poder ver todos los datos de vacunación de tus hijos que cargaste de forma detallada, y obtener información acerca de las vacunas y las enfermedades que previenen.

          %br

          %p.blue Por favor, ingresá tu número de teléfono aquí:
          = render "mobile_form", :path => subscribers_find_subscriber_and_send_verification_code_path, :from_dashboard => nil
      .span8
        = render "side_text"
