%p.pull-left
  = t('.copyright', :year => Time.now.year, |
    :site_name => Refinery::Core.site_name) |
%p.pull-right
  Un producto del
  %a{:href => "http://www.ilabamericalatina.org", :target => "_blank"}
    iLab América Latina
