%h1#logo
  %a{:href => "Refinery::Core.site_name, refinery.root_path"}
    %img{:src => "/assets/immuniversia-logo.png"}
= render(:partial => "/refinery/menu", :locals => { :dom_id => 'menu', :css => 'menu' })                                                