%p Hola #{@resource.first_name || @resource.email},

%p Alguien ha solicitado un enlace para cambiar tu contraseña, puedes realizarlo a través del siguiente enlace.

= link_to "Haga click aquí para cambiar su contraseña", edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)

%p Si el enlace no funciona, copia y pega la siguiente dirección en tu navegador:

= edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)

%p Si no lo solicitaste, puedes ignorar este correo. Tu contraseña no será cambiada mientras no accedas al enlace.