- content_for :body do
  .row
    .span12
      = yield(:topbar)
  .row
    .span3.sidebar
      %aside
        = yield(:sidebar)
    .span9.right-content
      = content_for?(:content) ? yield(:content) : yield

= render template: 'layouts/application'